<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <td><strong>Flow volume:</strong></td>
        <td><%= dispenser.flow_volume %></td>
      </tr>
      <tr>
        <td><strong>Status:</strong></td>
        <td><%= dispenser.status %></td>
      </tr>
      <tr>
        <td><strong>Last opened at:</strong></td>
        <td><%= dispenser.last_opened_at %></td>
      </tr>
      <tr>
        <td><strong>Last closed at:</strong></td>
        <td><%= dispenser.last_closed_at %></td>
      </tr>
      <tr>
        <td><strong>Total revenue:</strong></td>
        <td><%= dispenser.total_revenue %></td>
      </tr>
      <tr>
        <td><strong>Price per liter:</strong></td>
        <td><%= dispenser.price_per_liter %></td>
      </tr>
    </tbody>
  </table>
</div>
